@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Tüm özellikler için sıfırlama */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

/* Başlık etiketleri için sıfırlama */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Listeler için sıfırlama */
ul,
ol {
  list-style: none;
}

/* Anchor (link) etiketi için sıfırlama */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elementleri için sıfırlama */
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: middle;
}

:root {
    --baslik-h1:#93C6E7;
    --baslik-h2:#AEE2FF;

    --p-none:#F6F1E9;
    --button-nonhover:#FFD93D;
    --button-hover:#B9F3FC;
    --button-hover2:#888a8c;
    --renk-backgroung:rgb(8, 8, 39,.8);
    --renk-deneme:#FF8400;
    --color-hover:#FF1E1E;
    
}
  
.container{
    width: 100%;
    height: 100vh;
}


/*
*/

#header{
    background-image: url(/static/img/robot.png);
    background-size: cover; /* Optional: adjust to your needs */
    background-position: center center; /* Optional: adjust to your needs */
    background-repeat: no-repeat; /* Optional: adjust to your needs */

}

#header .head{
    background-color: var(--renk-backgroung);
    padding: 20px;
}

#header .head .logo{
    display: inline-block;
    width: 100px;
    text-align: center;
}

#header .head .logo{
    border-bottom: 1px solid var(--p-none);
    color: var(--baslik-h2);
    border-radius: 100px;
}


#header nav{
    float: right;
}
#header nav ul{
    color: white;
    display: flex;
}

#header nav ul li{
    margin:0px 5px;
    padding: 5px 3px;
}

#header nav ul li:hover{
    background-color: var(--button-hover2);
    border-radius: 10px;
}

#header nav ul li a{
    font-size: 18px;
}


.mobile-nav{
    display: none;
}
.mobile-nav .mobile-item{
    width: 28px;
    height: 3px;
    background-color: #F6F1E9;
    margin-top: 5px;
}



/*
    HERO
*/

.hero{
    height: 92vh;
    width: 100%;
    text-align: center;
    padding-top: 250px;

}




.hero h1{
    font-size: 75px;
    font-weight: 700;
    color: var(--button-nonhover);
    width: 70%;
    margin-left: 15%;
}


.hero .text{  
    color: var(--baslik-h2);
    margin-top: 20px;
}

.hero .text p{
    font-size: 40px;
}

.hero .button a{
    margin-top: 50px;
    display: inline-block;
    font-size: 28px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 5px 9px;
    color: var(--color-hover);
    background-color: #AEE2FF;
}

.hero .button a:hover{
  padding: 7px 11px;
  color: #AEE2FF;
  background-color: #FF1E1E;
}

@media only screen and (max-width: 700px) {
 #header nav .menu{
    display: none;
 }   
 #header .mobile-nav{
    display: block;
 }
 #header .hero h1{
    font-size: 50px;
 }
 .hero .text p{
    font-size: 23px;
 }
 .mobile li{
    display: none;
 }
 .hero .button a{
    margin-top: 30px;
    font-size: 18px;
    padding: 3px 5px;
}

}
/*
    PROJECT
*/


#project .project{
    padding: 80px;
    text-align: center;
}
#project .container{
    height:auto ;
}

#project h2{
    font-size: 55px;
}

#project h2 span{
    color: var(--button-nonhover);
}

#project .project .text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5rem;
}
#project .project .text span{
    color: var(--button-nonhover);
}


.box {
    margin-top: 100px;
}

.box .box-container{
    width: 400px;
    height: 370px;
    border: 1px solid black;
    border-radius: 10px ;
    background-color: gray;
    margin: 15px;
    display: inline-block;
}


.box img{
    width: 399px;
    border-radius: 10px;
}
.box .box-title{
    font-size: 28px;
    color: #AEE2FF;
    margin-top: 13px;
}
.box span{
    color: #FFD93D;
}
.box .box-text{
color: white;
margin-top: 3px;
text-align: center;
}

@media only screen and (max-width: 1200px) {
    #project .project{
    padding: 40px;
    padding-top: 70px; 
}

    #project h2{
        font-size: 30px;
    }    

    .box {
        margin-top: 60px;
    }
    .box .box-container{
        width: 280px;
        height: 350px;
    }

    .box img{
        width: 280px;
    }
}

/*
ABOUT
*/

#about {
text-align: center;
}

#about .about{
    margin: auto;
    padding-top: 19vh;
    max-width: 500px;
}

#about h1{
    font-size: 50px;
    color: #FF1E1E;
}

#about h1 span{
    color: #FFD93D;
}

#about img{
    width: 250px;
    margin-top: 30px;
    
}

#about .text{
    margin-top: 30px;
    line-height: 1.5rm;
    font-weight: 400;
}

@media only screen and (max-width: 1200px) {
    #about {
        padding:0px 30px;
    }
}

/*
    FOOTER
    
*/

footer {
	background-color: #29323c;
}


.containerf{
	max-height: auto;
	padding-top: 60px;
	padding-bottom: 10px;
}

footer h1{
    color: #FFD93D;

}

.contact{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid white;
}


footer .logo img{
    width: 200px;
}
.contact img{
  width: 70px;
}
.contact-item{
	text-align: center;
	color: white;
	margin: 20px;
}
.contact-item h2,h3{
	margin: 8px;
}

.fastlink{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 100px;
}

.fastlink .logo{
	width: 500px;
    text-align: center;
}

.fastlink .links a {
	color: white;
	font-size: 22px;
}

.fastlink .links a:hover {
	color: var(--color-hover);

}


.copriyt {
	text-align: center;
	border-bottom: 2px solid white ;
}

.copriyt p{
	color: aliceblue;
	margin-bottom: 20px;
}

.fastlink .links li{
  margin-top: 6px;
}

footer h1{
	text-align: center;
	font-size: 50px;
	color: #FFD93D;
	margin-bottom: 40px;
}

footer h1 span{
	color: #FF1E1E;
}

.abouttext p{
	color: white;
}



@media only screen and (max-width: 1200px) {
  .containerf{
    max-height: 1500px;
  }

  .contact{
    display: block;
  }
  .contact .contact-item{
    border-bottom: 1px solid white;
  }

  .fastlink{
    display: block;
    margin: 20px;
    text-align: center;
  }
  .fastlink .links{
    margin-top: 20px;
  }

  .fastlink .logo{
   width: auto; 
  } 
}


/*
    LOGİN
*/

.hero .form {
    background: rgb(41, 50, 60,0.5);
    width: 400px;
    margin: auto;
    padding: 25px;
    border: 2px solid white;
    margin-top: -100px;
}

.hero .form h2{
    color: #FFD93D;
    font-size: 35px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero .form form{
    margin-top: 20px;
    color: #F6F1E9;
}

.hero .form .bor{
    margin-top: 10px;
}

.hero .form .forget{
 margin-top: 20px;
 font-size: 10px;
 text-align: center;
 width: 120px;
 margin-left: 120px;
}


.hero .form .forget p{
    border-bottom:1px solid #FF1E1E;
}

.hero .form .forget p:hover{
    color: #FFD93D;
    border-bottom:1px solid #FFD93D;

}

.hero .form input{
    margin-top: 5px;
    text-align: center;
    border: 0px;
    border-radius: 2px;
    width: 65%;
    height:30px;
}

.hero .form input[type=submit]{
    margin:30px 0px;
    border-radius: 5px;
    width: 40%;
    height: 38px;
}

.hero .form input[type=submit]:hover{
    color: white;
    background-color: #FFD93D;
}


.hero .form .text{
    margin-top: 3px;
    font-size: 11px;
    margin-bottom: 10px;
}

.hero .form .text a{
    color: #FF1E1E;
    text-decoration: underline;
}

.he


.hero .form .text a:hover{
    color: #FFD93D;
}

@media screen and (max-width : 600px) {

    .hero .form {
        background: rgb(41, 50, 60,0.5);
        width: 330px;
        margin-left: -5px;
    }
    .hero .form input{
        margin-top: 5px;
        text-align: center;
        border: 0px;
        border-radius: 2px;
        width: 90%;
    }
    .hero .form .forget{
        text-align: center;
        margin-left: 75px;
  }


}


/*
    CHAT
*/


.hero .chat-bot .chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -180px;
}



.hero .chat {
    background: rgb(41, 50, 60,0.5);
    width: 400px;
    height: 500px;
    margin-left: 10px;
overflow: hidden;
}


.hero .messages{
    overflow: auto;
}
/* Kaydırma çubuğu için arka plan rengi */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Kaydırma çubuğu için arka plan rengi */
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  
  /* Kaydırma çubuğu için gövde rengi */
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  
  /* Kaydırma çubuğu üzerine gelindiğinde gövde rengi */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }


/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
.hero  .messages p{
    width: 230px;
    font-size: 20px;
    margin-top: 10px;
}


.hero .messages .you{
    background-color: #EA5455;
    color: white;
    border-radius: 5px;
    padding: 4px;
    float: right;
}

.hero .messages .chatbot{
    background-color: #002B5B;
    color: white;
    border-radius: 5px;
    padding: 4px;
    float: left;
}


.hero .input button{
    margin-top: 18px;
    padding: 10px 30px;
    border-radius: 3px;
}


@media screen and (max-width : 900px) {
    .hero  .chat-bot .chat-container {
        display: block;
        margin-left:-15px ;
    } 

    
    .hero .chat-bot {
        padding: 5px;
        margin-top: -30px
    }
   
    .hero .chat {
        background: rgb(41, 50, 60,0.5);
        width: 330px;
        height: 270px;
        margin: auto;
    }

    .hero .messages{
        height: 200px;
        margin-top: 15px;
        font-size: 10px;
    }
    .hero  .messages p{
        width: 200px;
        font-size: 14px;
    }
    
}