{% extends "loyaut.html"%}

{% block title%}
  <title>TeteaTalk</title>
{% endblock %}


{% block hero %}
<div class="h1">
  <h1>TETEaTALK</h1>
  <div class="text">
    <p>
      TETEaTALK İle
      <span
        class="typewrite"
        data-period="2000"
        data-words='[" Öğren", " Konuş", " Anlamanı geliştir"," Dinlemeni geliştir"]'
      >
      </span>
    </p>
    <p></p>
  </div>

  <div class="button">
    <a href="/chat">TETEaTALK</a>
  </div>
</div>


{% endblock%}




{% block body %}


<section id="project">
  <div class="container">
    <div class="project">
      <h2>Bu TE<span>TEaTA</span>LK ?</h2>
      <div class="text">
        <p>
          İngilizce dil becerilerinizi geliştirmek mi istiyorsunuz? 
          Konuşurken hata yapmaktan veya utanmaktan korkuyor musunuz? 
          Yoksa sadece daha akıcı ve kendinden emin bir şekilde İngilizce konuşmak mı istiyorsunuz? 
          Öyleyse, hedeflerinize ulaşmanıza yardımcı olacak uygun fiyatlı seçenekler sunan bir İngilizce
          öğrenme platformu olan TeteaTalk ile ilgilenebilirsiniz. TeteaTalk ile kişiselleştirilmiş geri bildirim ve destek alırken 
          İngilizce konuşma, dinleme ve hatta yazma alıştırmaları yapabilirsiniz. Öyleyse neden bir deneyip
          İngilizce becerilerinizi bir sonraki seviyeye taşımıyorsunuz?
         
          <br />
          Botfriend hakkında daha fazla bilgi edinmek ve yolculuğunuza bugün başlamak için Tet<span>eaT</span>alk'yı ziyaret edin!        </p>
      </div>
      <div class="box">
        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>İngilizce Konuş</h4></div>
          <div class="box-text">
            <p>
              Daha önce İngilizce konuşma fırsatınız olmadı mı? İnsanlarla ilk defa konuşmaya çekiniyor musunuz? 
              <div>
              Öyleyse, "Tet<span>eaT</span>alk " size uygun bir seçenek olabilir. Başlamak için ne dersiniz?
            </div>
            </p>
          </div>
        </div>

        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>İngilizce Konuş</h4></div>
          <div class="box-text">
            <p>
              Daha önce İngilizce konuşma fırsatınız olmadı mı? İnsanlarla ilk defa konuşmaya çekiniyor musunuz? 
              <div>
              Öyleyse, "Tet<span>eaT</span>alk " size uygun bir seçenek olabilir. Başlamak için ne dersiniz?
              </div>
            </p>
          </div>
        </div>

        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>İngilizce Konuş</h4></div>
          <div class="box-text">
            <p>
              Daha önce İngilizce konuşma fırsatınız olmadı mı? İnsanlarla ilk defa konuşmaya çekiniyor musunuz? 
              <div>
              Öyleyse, "Tet<span>eaT</span>alk " size uygun bir seçenek olabilir. Başlamak için ne dersiniz?
              </div>
            </p>
          </div>
        </div>
        

        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>İngilizce Dinle</h4></div>
          <div class="box-text">
            <p>
              İngilizce dilini biliyor musunuz? Konuşurken anlamadığınız kelimeler oluyor mu? Pratik yapmaya ihtiyaç duyuyor musunuz? 
              <div>
              O halde, "Tet<span>eaT</span>alk" tam size uygun bir seçenek olabilir. Başlamak için ne dersiniz?
              </div>
            </p>
          </div>
        </div>
        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>İngilizce Öğren</h4></div>
          <div class="box-text">
            <p>
              İngilizce öğrenmek istiyor musunuz? Gramer çalışmaktan sıkıldınız mı? Yeni bir yöntem arayışında mısınız?
              <div>
               O zaman "Tet<span>eaT</span>alk" tam size göre olabilir. Hemen başlamaya ne dersiniz?
              </div>
            </p>
          </div>
        </div>
        <div class="box-container">
          <div class="box-image"><img src="{{url_for('static',filename='/img/dialog.jpg')}}" alt="" /></div>
          <div class="box-title"><h4>Yeni Arkadaşınız</h4></div>
          <div class="box-text">
            <p>
              Herhangi bir boş zamanınızda 7/24 size arkadaşlık edecek ve İngilizce konuşmanızı geliştirecek bir yapay zeka arıyor musunuz? 
              <div>
              O zaman tek tıkla "Tet<span>eaT</span>alk" başlamak için harika bir seçenek olabilir. Hemen başlamaya ne dersiniz?
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="about">
      <h1>TET<span>EaT</span>ALK</h1>
      <div class="logo">
        <img src="{{url_for('static',filename='/img/logo.jpg')}}" alt="" />
      </div>
      <div class="text">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
          sint quidem tempora numquam vel adipisci aliquid, placeat voluptas
          id ab qui dolore iusto provident ducimus fugit animi
          exercitationem laborum aliquam. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Ea dolore ipsam corrupti odit
          delectus ex consequuntur fugit perferendis vel sit mollitia, vitae
          quisquam praesentium nihil. Illum enim sed impedit quia.
        </p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="containerf">
    <h1>TET<span>EaT</span>ALK</h1>
    <div class="contact">
      <div class="contact-item">
        <div class="img"><img src="{{url_for('static',filename='/img/telephone.png')}}" alt="" /></div>
        <h2>PHONE</h2>
        <h3>05313277665</h3>
      </div>
      <div class="contact-item">
        <div class="img"><img src="{{url_for('static',filename='/img/mail.png')}}" alt="" /></div>
        <h2>EMAİL</h2>
        <h3>teteatalk@teteatalk.com</h3>
      </div>
      <div class="contact-item">
        <div class="img"><img src="{{url_for('static',filename='/img/mail.png')}}" alt="" /></div>
        <h2>LOCATİON</h2>
        <h3>Beşiktaş - İstanbul</h3>
      </div>
    </div>

    <div class="fastlink">
      <div class="logo">
        <img src="{{url_for('static',filename='/img/logo.jpg')}}" alt="" />
        <div class="abouttext">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
            at, sapiente eius placeat reprehenderit veniam odio quaerat
            nobis doloribus officiis doloremque ut ducimus, ea iure quidem
            corrupti commodi earum ullam!
          </p>
        </div>
      </div>
      <div class="links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">ChatBot</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="copriyt">
      <p>@Copriyt TETEaTALK</p>
    </div>
  </div>
</footer>

<script src="{{url_for('static',filename='animasyonhtext.js')}}"></script>
<script src="app.js"></script>

{% endblock%}


